@model IEnumerable<TodoListApp.WebApp.Models.Tag>
@{ ViewData["Title"] = "All Tags"; }

<h1>All Tags</h1>

<div class="row">
    <div class="col-md-8">
        @if (!Model.Any())
        {
            <div class="alert alert-info">No tags found. Add tags to your tasks!</div>
        }
        else
        {
            <div class="d-flex flex-wrap gap-2">
                @foreach (var tag in Model)
                {
                    <a asp-action="Details" asp-route-id="@tag.Id" class="btn btn-outline-primary rounded-pill">
                        #@tag.Name
                    </a>
                }
            </div>
        }
    </div>
</div>